body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
    overflow: hidden; /* Prevent browser scrollbars */
}

.chatbox {
    width: 450px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.header {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #4CAF50;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
    white-space: nowrap;
}

.username {
    font-weight: bold;
    font-size: 16px;
}

.options {
    display: flex;
    gap: 10px;
    align-self: flex-end; /* Align to the right-top corner */
}

.option {
    cursor: pointer;
    font-size: 14px;
}

.chat {
    flex-grow: 1; /* Allow chat area to grow and take remaining space */
    overflow-y: scroll;
    padding: 15px;
}

.user-message, .bot-message {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 8px 12px;
    margin: 5px;
    display: block;
    max-width: 80%;
}

.user-message {
    background-color: #4CAF50;
    color: #ffffff;
    align-self: flex-start;
}

.input-container {
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: #ffffff;/* Align to the right-bottom corner */
    justify-content: flex-start; 
}

.input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
}

.send-button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.send-button:hover {
    background-color: #45A049;
}
